In [2]:
import pandas as pd
import os

In [30]:
ls = os.listdir('../data/image/insta_image')

In [25]:
data = {'image_name' : ls}
df = pd.DataFrame(data)
df.head()

                 image_name
0  image_01640_p0_b0_c7.jpg
1  image_01640_p0_b1_c0.jpg
2  image_01641_p0_b0_c7.jpg
3  image_01641_p0_b1_c0.jpg
4  image_01642_p0_b0_c0.jpg

In [31]:
pair_ls = []
for i in range(len(ls)):
    if i%2 == 0:
        pair_ls.append(ls[i+1])
    else :
        pair_ls.append(ls[i-1])

In [36]:
df['pair_name'] = pair_ls

In [38]:
df.to_csv('insta_pair.csv', encoding='utf-8')